<a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
<nav id="menu" class="main-nav" role="navigation">
    <ul class="main-menu">
        {%- if page.nav_bar == "home" -%}
        <li><a href="#home">Home</a></li>
        <li class="has-submenu">
            <a href="#whoami">About</a>
            <ul class="sub-menu">
                <li><a href="#whoami">Who I am?</a></li>
                <li><a href="#steps">Steps to take!</a></li>
                <li><a href="https://www.linkedin.com/in/rustam-karimov-7293315b/" target="_blank" class="external">My
                    LinkedIn</a></li>
            </ul>
        </li>
        <li><a href="#courses">Courses</a></li>
        <li><a href="/coming-courses">Upcoming Courses</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a class="stream" href="/streaming">Streaming</a><span class="circle"></span></li>
        {%- elsif page.nav_bar == "not-home" -%}
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/courses-list">Courses</a></li>
        <li><a href="/coming-courses">Upcoming Courses</a></li>
        <li>
            <a class="stream" href="/streaming">Streaming</a><span class="circle"></span>
        </li>

        {%- endif -%}
    </ul>
</nav>