<a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
<nav id="menu" class="main-nav" role="navigation">
    <ul class="main-menu">
        <li><a href="#home">Home</a></li>
        <li class="has-submenu"><a href="#whoami">About</a>
            <ul class="sub-menu" style="list-style-type: none; padding: 0;">
                <li><a href="#whoami">Who I am?</a></li>
                <li><a href="#whatido">What I do?</a></li>
                <li><a href="https://www.linkedin.com/in/rustam-karimov-7293315b/" target="_blank" class="external">My
                    LinkedIn</a></li>
            </ul>
        </li>
        <li><a href="#read-more">Courses</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>