<script src="{{ "assets/js/isotope.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/owl-carousel.js" | relative_url }}"></script>
<script src="{{ "assets/js/tabs.js" | relative_url }}"></script>
<script src="{{ "assets/js/custom.js" | relative_url }}"></script>
<script src="{{ "assets/js/functions.js" | relative_url }}"></script>
<script src="{{ "assets/js/bootstrap.js" | relative_url }}"></script>
<script>

    $('.nav li:first').addClass('active');

    let showSection = function showSection(section, isAnimate) {
        let
            direction = section.replace(/#/, ''),
            reqSection = $('.section').filter('[data-section="' + direction + '"]'),
            reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $('body, html').animate({
                    scrollTop: reqSectionPos
                },
                800);
        } else {
            $('body, html').scrollTop(reqSectionPos);
        }

    };

    let checkSection = function checkSection() {
        $('.section').each(function () {
            let
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                let
                    currentId = $this.data('section'),
                    reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').siblings().removeClass('active');
            }
        });
    };

    $(`.main-menu, .scroll-to-section`).on('click', 'a', function (e) {
        console.log(e.target);
        if ($(e.target).hasClass('external')) {
            return;
        }
        e.preventDefault();
        $('#menu').removeClass('active');
        showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
        checkSection();
    });

    function showArticle(articleId, l) {
        // Get all the article elements
        let articles = document.querySelectorAll('.tabs-content article');
        // Loop through all articles and hide them
        for (let i = 0; i < articles.length; i++) {
            articles[i].style.display = 'none';
        }

        // Show the selected article
        let selectedArticle = document.getElementById(articleId);
        selectedArticle.style.display = 'block';

        let links = document.querySelectorAll('.test_1 p');
        for (let i = 0; i < links.length; i++) {
            links[i].classList.remove('active-tab');
        }

        // Set the color of the clicked link to red
        l.classList.add('active-tab');
    }

</script>