.form__contact {
    max-width: 700px;
    margin: 0 auto;
    border-left: 30px solid white;
    -o-border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MS44NnB4IiBoZWlnaHQ9IjUyLjMyNnB4IiB2aWV3Qm94PSIwIDAgNDEuODYgNTIuMzI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MS44NiA1Mi4zMjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDB2MjUuMTYzaDcuMDk3YzAuNTAxLTQuOTg5LDQuNzEyLTguODg0LDkuODMzLTguODg0YzUuNDU4LDAsOS44ODQsNC40MjUsOS44ODQsOS44ODRzLTQuNDI1LDkuODg0LTkuODg0LDkuODg0Yy01LjEyMSwwLTkuMzMyLTMuODk1LTkuODMzLTguODg0SDB2MjUuMTYzaDQxLjg2VjBIMHoiLz48L3N2Zz4=) 5% 100% repeat;
    border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MS44NnB4IiBoZWlnaHQ9IjUyLjMyNnB4IiB2aWV3Qm94PSIwIDAgNDEuODYgNTIuMzI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MS44NiA1Mi4zMjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDB2MjUuMTYzaDcuMDk3YzAuNTAxLTQuOTg5LDQuNzEyLTguODg0LDkuODMzLTguODg0YzUuNDU4LDAsOS44ODQsNC40MjUsOS44ODQsOS44ODRzLTQuNDI1LDkuODg0LTkuODg0LDkuODg0Yy01LjEyMSwwLTkuMzMyLTMuODk1LTkuODMzLTguODg0SDB2MjUuMTYzaDQxLjg2VjBIMHoiLz48L3N2Zz4=) 5% 100% repeat;
    border-image-width: 0px 0px 0px 30px;
    transform: translateY(100%);
    -webkit-animation: init 1s ease-in-out forwards;
    animation: init 1s ease-in-out forwards;
}
.form__contact fieldset {
    position: relative;
    margin: 0;
    padding: 30px 30px 40px 80px;
    border: none;
    border-radius: 0 20px 20px 0;
    font: 40px "Just Another Hand", cursive;
    background: #fff linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0) 0 20px/100% 40px;
}
.form__contact fieldset:after {
    position: absolute;
    top: 0;
    left: 50px;
    content: "";
    height: 100%;
    width: 1px;
    border-left: double #E08183;
}
.form__contact p, textarea{
    margin: 0 0 40px 0;
    line-height: 40px;
    color: #333;
    font-size: 35px !important;
}


.form__contact input, select, select option, textarea {
    color: black;
    border: none;
    background-color: #f5f5f57d !important;

}

.form__contact input::placeholder, textarea::placeholder {
    color: #4e936a !important;
}

.form__contact input.age {
    width: 50px;
}
.form__contact input.name {
    width: 250px;
}
.form__contact input.button {
    width: 250px;
    background-color: orange !important;
    border-radius: 10px;
}

.form__contact textarea {
    width: 300px;
}

@media screen and (max-width: 500px) {
    .form__contact input.name {
        width: auto;
    }

    .form__contact input.button {
        width: auto;
        font-size: 30px;
    }

    .form__contact textarea {
        width: 150px;
    }


}

.form__contact input.button:hover {
    background-color: #1edc3c !important;
}

.form__contact span {
    position: relative;
    line-height: 40px;
}

.form__contact button:hover {
    transform: translateX(10px);
}

.form__field {
    display: inline;
    color: #7DB665;
    outline: none;
}


.form__field:empty {
    display: inline-block;
    color: #DDD;
}
.form__field:empty:before, .form__field:empty:focus:before {
    content: attr(data-placeholder);
}

svg {
    display: none;
}

@-webkit-keyframes init {
    75% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes init {
    75% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes do-blur {
    0% {
        filter: url(#blur4);
    }
    25% {
        filter: url(#blur3);
    }
    50% {
        filter: url(#blur2);
    }
    75% {
        filter: url(#blur1);
    }
    100% {
        filter: url(#blur0);
    }
}
@keyframes do-blur {
    0% {
        filter: url(#blur4);
    }
    25% {
        filter: url(#blur3);
    }
    50% {
        filter: url(#blur2);
    }
    75% {
        filter: url(#blur1);
    }
    100% {
        filter: url(#blur0);
    }
}