---
layout: base
---

<style>
    body {
        background: linear-gradient(#fff3df, white);
    }
</style>

<div class="about-container margin-down">
    <div>
        <div class="row">

            <div class="mx-auto col-lg-5 col-md-5 col-10">
                <img src="/assets/images/photos/me_2.png" class="img-fluid" alt="Ben Resume HTML Template">
            </div>
            <div class="col-lg-7 col-md-7 col-12">
                <div class="hero-text">
                    <h1 class="hero-title"><i class="fa-solid fa-hand-spock fa-shake" style="color: var(--spec-orange);"></i> <span style="color: white;"> About
                        me </span> </h1>

                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="rounded-images">
        <div class="row">
            <!-- TEXT -->
            <div class="col-lg-6 col-md-6 col-12">

                <p> My name is Rustam, a driven and versatile individual with a background in teaching
                    Computer Science and a strong foothold in the world of software engineering. My journey in the tech
                    industry began with a passion for computer programming, which eventually led me to pursue a career
                    that
                    combines both education and cutting-edge software development.</p>

                <ul class="mt-4 mb-5 mb-lg-0 profile-list list-unstyled">
                    <li><strong>Full Name :</strong> Rustam Karimov</li>
                    <li><strong>Email :</strong> kerimov.rustam@live.ru</li>
                    <li><strong>LinkedIn :</strong> <a href="https://www.linkedin.com/in/rustam-karimov-7293315b/"
                                                       target="_blank"> profile</a></li>

                </ul>
            </div>
            <!-- IMAGE -->
            <div class="col-lg-5 col-md-6 col-12">
                <img src="/assets/images/photos/me3.jpg" alt="in the classroom">
            </div>
        </div>
        <div class="row">
            <!-- IMAGE -->
            <div class="col-lg-5 col-md-6 col-12">
                <img src="https://media.giphy.com/media/A6aHBCFqlE0Rq/giphy.gif" alt="in the classroom">
            </div>
            <!-- TEXT -->
            <div class="col-lg-6 col-md-6 col-12">
                <p>I started my professional journey as an educator, sharing my enthusiasm for Computer Science with
                    aspiring learners. Teaching has always been a rewarding experience for me. Guiding students,
                    breaking
                    down complex topics into understandable pieces, and witnessing their growth as they developed
                    programming skills brought me immense joy and fulfillment. My time as a Computer Science instructor
                    laid
                    the foundation for my future endeavors in the tech world.</p>
            </div>
        </div>
        <div class="row">
            <!-- TEXT -->
            <div class="col-lg-6 col-md-6 col-12">

                <p>
                    Beyond my work at UBS, I remain dedicated to nurturing the next generation of developers. I firmly
                    believe that education plays a pivotal role in shaping the future of technology. My teaching
                    experience
                    has instilled in me a passion for sharing knowledge and inspiring others to embark on their own tech
                    journeys.
                </p>
            </div>
            <!-- IMAGE -->
            <div class="col-lg-5 col-md-6 col-12">
                <img src="/assets/images/photos/me_group.jpg" alt="in the classroom">
            </div>
        </div>
        <div class="row">
            <!-- IMAGE -->
            <div class="col-lg-5 col-md-6 col-12">
                <img src="/assets/images/photos/me2.jpg" alt="in the classroom">
            </div>
            <!-- TEXT -->
            <div class="col-lg-6 col-md-6 col-12">
                <p>Driven by a thirst for knowledge and a desire to apply my skills in real-world scenarios, I
                    transitioned
                    into the role of a Software Engineer. Joining the esteemed team at UBS has been a significant
                    milestone
                    in my career. As a Python-based Software Engineer, I actively contribute to developing sophisticated
                    solutions that empower the finance industry.</p>
            </div>
        </div>
        <div class="row three-cols">
            <div class="col-lg-4 col-md-4 col-12">
                <h1>Leadership</h1>
                <p>Through my role in education and software engineering, I've likely
                    developed strong leadership skills. Guiding students and collaborating with colleagues on complex
                    software projects requires effective communication, problem-solving, and decision-making.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <h1>Adaptability</h1>
                <p>The tech industry is known for its rapid changes, and as someone who
                    transitioned from teaching to software engineering, I've demonstrated a remarkable ability to
                    adapt to new challenges and environments.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <h1>Passion for Python</h1>
                <p>As a Python-based Software Engineer at UBS, my expertise in
                    this versatile programming language is invaluable. Python is widely used in finance, data analysis,
                    and various other domains, making my contributions highly impactful.</p>
            </div>
        </div>
    </div>
</div>

<object
        data="/assets/images/profile.pdf"
        type="application/pdf"
        width="100%"
        height="100%"
        aria-labelledby="PDF document"
>
    <p>
        Your browser does not support PDFs online view.
        <a href="/assets/images/profile.pdf">Download the PDF</a>
    </p>
</object>