---
layout: base
---

<section class="main-banner" id="top" data-section="home">
    <video autoplay muted loop id="bg-video" playsinline>
        <source src="/assets/images/course_video_1.mp4" type="video/mp4"/>
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>Online IT Classes</h6>
            <h2><em>SIT. </em> CONNECT. LEARN.</h2>
            <div class="main-button">
                <div class="scroll-to-section"><a href="#whoami">Discover more</a></div>
            </div>
        </div>
    </div>
</section>

<section class="section why-us" data-section="whoami">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="test_1">
                    <p onclick="showArticle('tabs-1', this)" class="active-tab">About me</p>
                    <p onclick="showArticle('tabs-2', this)">Detail-oriented</p>
                    <p onclick="showArticle('tabs-3', this)">Quality meeting</p>
                </div>
                <section class='tabs-content'>
                    <article id='tabs-1'>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/assets/images/photos/me.jpg" alt="">
                                <img src="/assets/images/photos/me_group.jpg" alt="">
                            </div>
                            <div class="col-md-6">
                                <h4>About me</h4>
                                <p>Hello there, I am Rustam Karimov, a driven and versatile individual with a
                                    background
                                    in teaching Computer Science and a strong foothold in the world of software
                                    engineering. My journey in the tech industry began with a passion for computer
                                    programming, which eventually led me to pursue a career that <i> combines both
                                        education and cutting-edge software development. </i>

                                    <br>
                                    <br>

                                    <mark> I started my professional journey as an educator</mark>
                                    , sharing my enthusiasm for
                                    Computer Science with aspiring learners. Teaching has always been a rewarding
                                    experience for me. <i> Guiding students, breaking down complex topics into
                                        understandable pieces, and witnessing their growth as they developed
                                        programming
                                        skills brought me immense joy and fulfillment </i>. My time as a Computer
                                    Science
                                    instructor laid the foundation for my future endeavors in the tech world.

                                    <br>
                                    <br>

                                    Driven by a thirst for knowledge and a desire to apply my skills in real-world
                                    scenarios, I transitioned into the role of a Software Engineer. Joining the
                                    esteemed team at <i> UBS BS </i> has been a significant
                                    milestone in my career.
                                    <mark> As a Python-based Software Engineer</mark>
                                    , I actively
                                    contribute to developing sophisticated solutions that empower the finance
                                    industry.

                                    <br>
                                    <br>

                                    Beyond my work at UBS, I remain
                                    <mark>dedicated to nurturing the next generation of
                                        developers.
                                    </mark>
                                    I firmly believe that education plays a pivotal role in shaping the
                                    future of technology. My teaching experience has instilled in me a passion for
                                    sharing knowledge and inspiring others to embark on their own tech journeys.


                                </p>
                            </div>
                        </div>
                    </article>
                    <article id='tabs-2'>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="assets/images/detail-oriented.svg" alt="">
                            </div>
                            <div class="col-md-6">
                                <h4>Every detail has meaning!</h4>
                                <p>"Every detail has meaning" becomes my guiding principle, ensuring that you will
                                    get highly standardized materials and lectures prepared by me. Here are some
                                    key aspects that highlight the detail-oriented features of your online Python
                                    courses:
                                    <br>
                                    1. Each topic and module is carefully selected and sequenced to provide a
                                    logical and smooth learning journey for you.
                                    <br>
                                    2. Courses you took, don't merely skim the surface of its concepts. Instead, you
                                    dive deep into each topic, providing in-depth explanations that empower your
                                    students with a profound understanding of the language's intricacies.
                                    <br>
                                    3. You emphasize the significance of following best practices and
                                    coding conventions. By instilling these industry standards, you equip your
                                    students with the tools to write clean, efficient, and maintainable code.
                            </div>
                        </div>
                    </article>
                    <article id='tabs-3'>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="assets/images/meeting.png" alt="">
                            </div>
                            <div class="col-md-6">
                                <h4>Quality Meeting</h4>
                                <p>Online classes are actually the most effective format for General IT (CoreIT) and Python
                                    courses. In this setting, sharing screens and assessing students' work by viewing
                                    their screens proves to be more efficient and productive compared to traditional
                                    in-person classes where physically checking each student's monitor is required.</p>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="section steps" data-section="whatido">
    <div class="connections-head">
        <h1> Enjoy the <span style="color: var(--spec-orange)"> Virtual </span> class</h1>
    </div>
    <div class="connections-row">
        <div class="connections-step">
            <div class="step-top">
                <div class="step-left">
                    1
                </div>
                <div class="step-right"> SIT</div>
            </div>
            <div class="step-content">
                <p> Open a free account on <a href="https://slack.com/get-started" target="_blank"> Slack </a>
                    using either your email address or social accounts such as Google or Apple.
                    The process will take 2-3 minutes of your time. While registering, please use your
                    real name and surname. For username, you can choose whatever you want. Go creative.</p>
            </div>
        </div>

        <div class="connections-step">
            <div class="step-top">
                <div class="step-left">
                    2
                </div>
                <div class="step-right"> CONNECT</div>
            </div>
            <div class="step-content"><p> Join means to be the part of one of several channels on Slack.
                After a broad analyze and estimation of your skills,
                I will invite you to join the appropriate channel for you. Just leave this to me.
            </p></div>
        </div>

        <div class="connections-step">
            <div class="step-top">
                <div class="step-left">
                    3
                </div>
                <div class="step-right"> Learn</div>
            </div>
            <div class="step-content"><p> Learning is the most responsible part of the journey. You will need to stay
                focused.
                Join on time, follow the instructions, do your home assignments and practice. Good luck!</p></div>
        </div>

    </div>
</section>

<section class="section courses" data-section="read-more" id="courses">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Choose Your Course</h2>
                </div>
            </div>
            <div class="owl-carousel owl-theme">
                {% include courses-carousel-owl.html %}
            </div>
        </div>
    </div>
</section>

<section class="section contact" data-section="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Want to join? Send me message.</h2>
                </div>
            </div>
            <div class="col-md-6" style="flex: 1 0 50% !important; max-width: 100% !important;">
                {%- include contact-form.html -%}
                <div id="thankYouMessage" style="display: none;">
                    Your message is sent.<br>
                    Thank you!
                </div>
            </div>
        </div>
    </div>
</section>